* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Graduate", Arial, sans-serif;
    overflow-x: hidden;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f9f9f9;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .nav-links.active li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .burger {
        display: block;
    }
}
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: auto;
  }

section {
    text-align: left;
    margin-bottom: 40px;
    padding: 20px;
    width: 70%;
  }

.home-section {
    height: 100vh;
    width: 100vw;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h1 {
    font-family: "Graduate", Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
}

.full-height-section {
    height: 100vh;
}